div#page {
    text-align: center;
}

div#controls

button {
    margin-top: 10px;
    margin-bottom: 20px;
}

div#plot {
    text-align: center;
}

#plot plot_bg, #overlay {
  position: absolute;
}

#plot plot_bg, #overlay {
  position: absolute;
}
